<launch>
  <arg name="use_lidar" default="true"/>
  <arg name="use_point_lio" default="true"/>
  <arg name="use_localization_bridge" default="true"/>
  <arg name="bridge_publish_tf" default="true"/>
  <arg name="use_base" default="true"/>
  <arg name="base_dry_run" default="true"/>
  <arg name="use_rviz" default="false"/>
  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="lidar_port" default="/dev/ttyUSB0"/>

  <include file="$(find spraying_car_description)/launch/description.launch">
    <arg name="use_rviz" value="false"/>
  </include>

  <group if="$(arg use_lidar)">
    <include file="$(find spraying_car_slam)/launch/unilidar.launch">
      <arg name="lidar_port" value="$(arg lidar_port)"/>
      <arg name="use_rviz" value="false"/>
    </include>
  </group>

  <group if="$(arg use_point_lio)">
    <include file="$(find spraying_car_slam)/launch/point_lio_mapping.launch">
      <arg name="rviz" value="false"/>
    </include>
  </group>

  <group if="$(arg use_localization_bridge)">
    <include file="$(find spraying_car_localization)/launch/point_lio_bridge.launch">
      <arg name="publish_tf" value="$(arg bridge_publish_tf)"/>
      <arg name="output_odom_topic" value="/slam_odom"/>
      <arg name="standard_odom_frame" value="odom"/>
      <arg name="standard_base_frame" value="base_link"/>
    </include>
  </group>

  <group if="$(arg use_base)">
    <include file="$(find spraying_car_base)/launch/base.launch">
      <arg name="dry_run" value="$(arg base_dry_run)"/>
    </include>
  </group>

  <include file="$(find spraying_car_navigation)/launch/move_base.launch">
    <arg name="global_frame" value="odom"/>
    <arg name="local_global_frame" value="odom"/>
    <arg name="robot_base_frame" value="base_link"/>
    <arg name="odom_topic" value="/slam_odom"/>
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <arg name="global_costmap_params" value="$(find spraying_car_navigation)/config/global_costmap_params.yaml"/>
  </include>

  <node pkg="rviz"
        type="rviz"
        name="navigation_rviz"
        args="-d $(find spraying_car_navigation)/rviz/navigation.rviz"
        if="$(arg use_rviz)"/>
</launch>
